<app-navbar></app-navbar>

<h1>Latin Grammar Questions</h1>
<div>Total number of lessons: {{ lessonsNb }}</div>
<ul>
  @for (qv of questions; track qv.question.id) {
  <li (click)="toggleAnswer(qv)" style="cursor: pointer">
    <strong>{{ qv.question.text }}</strong
    ><br />

    @if (qv.showAnswer) {
    <div>
      Answer: {{ qv.question.answer }}<br />
      Lesson number: {{ qv.question.lesson }}<br />
      Question number: {{ qv.question.number }}<br />
      Queston type: {{ qv.question.lesson_type }}
    </div>
    }
  </li>
  }
</ul>

<router-outlet />
